# Amadeus Challenge
Amadeus Challenge/
*web_apis_and_scraping_101.ipynb
.ipynb_checkpoints/

*.csv.bz2
*.csv


# Cheat Sheet

*.pdf


# Git and Github

*.pdf
*.txt

# Linux

#Python 
Notebook/
.ipynb_checkpoints/



# R

*.R


*11_exercises.ipynb

