# Amadeus Challenge
Amadeus Challenge/
*web_apis_and_scraping_101.ipynb
.ipynb_checkpoints/

*.csv.bz2
*.csv


# Cheat Sheet

*.pdf


# Git and Github

*.pdf
*.txt

# Linux


# Python

*.csv
*.pdf
*.zip
*.html
/Projects/fifa_data.ipynb


# R

*.R


*11_exercises.ipynb

