# Ignorando Python 
*.ipynb_checkpoints/
*01-intro_to_DS_toolkit_class.ipynb
*01-intro_to_DS_toolkit_clean.ipynb
*01.1_intro_to_DS_toolkit_halfempty.ipynb
*01_intro_to_DS_toolkit_inclass.ipynb
*01_intro_to_notebook_empty.ipynb
*02-loading_and_saving_data_empty.ipynb
*02_flow_control_empty.ipynb
*03-merge_concatenate_transform_empty.ipynb
*04-group_by_empty.ipynb
*05-visualization_introduction.ipynb
*05-visualization_introduction_empty.ipynb
*05-visualization_introduction_inclass.ipynb
*06-intro_to_pandas_practical_empty.ipynb
*06-intro_to_pandas_practical_inclass.ipynb
*06_exercises-class.ipynb
*07_working_with_files-class.ipynb
*07_working_with_files-clean.ipynb
*08_09_Lists_class.ipynb
*08_09_Lists_clean.ipynb
*10_tuplas_class.ipynb
*10_tuplas_clean.ipynb
*11_exercises.ipynb
*12_Dict_y_set_class.ipynb
*12_Dict_y_set_clean.ipynb
*Python-Cheat-Sheet-for-Scikit-learn-Edureka.pdf
*Python3Fundamentals.pdf
*Untitled.ipynb
*houses.csv
*players_18.csv
*players_19.csv
*python.txt
*readme.html
*teams_and_leagues.csv
*tips.csv
*train.csv
*Project.ipynb

*.csv
*.pdf
*.txt
*.html
